* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("https://i.pinimg.com/originals/41/82/a9/4182a9dd330c6442c4a1fbc78274d838.png");
    background-size: cover;
    background-position: center;
    z-index: 9999;

}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #40E0D0;
    margin: 0;
}
header a {
    text-decoration: none;
    color: #40E0D0;
}
header a:hover {
    color: #8a2be2;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
header nav ul li a:hover {
    color: #8a2be2;
}
section {
    padding: 60px;
}

.hero {
    background-color: #8a2be2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 5px solid;
    border-top: 5px solid;
}
.hero h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    flex: 2 30%;
    border-bottom: 3px solid;
}

.work {
    background-color: #DCDCDC;
    padding: 40px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-left: 3px solid #000000;
}
.work:hover {
    background-color: #747171;
    opacity: 80%;
}

.work h2 {
    padding-top: 10px;
    padding-right: 80px;
    font-size: 40px;
    border-bottom: 3px solid #000000;
}

.showcase {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 5px;
} 

.showcase img {
    border: 2px solid #000000;
    margin: 10px;
    border-radius: 10px;
    opacity: 60%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}
.showcase-larger img:hover {
    border: 6px solid #40E0D0;
    opacity: 100%;
}
.showcase-larger {
    border: 6px solid #8a2be2;
    margin: 10px;
    border-radius: 10px;
    opacity: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;

}
.showcase-larger img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.showcase img:hover {
    border: 4px solid #40E0D0;
    opacity: 100%;

}

.contact {
    background-color: #8a2be2;
    padding: 40px 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid;
    border-top: 5px solid;
}

.contact h2 {
    padding: 10px;
    font-size: 40px;
    border-bottom: 3px solid;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.contact-links h3 {
    padding: 10px 10px 10px 10px;
    font-size: 25px;
}
.contact-links a {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    color: #000000;
}
.contact-links a:hover {
    color: #40E0D0
}

.flexbox {
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.footer img {
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        /*this will be applied on any screen smaller that 900px */ 
    }
    header h1 {
        width: 100%;
        text-align: center
    }
    .header nav ul {
        margin: top 20%;
        width: 100%;
        justify-content: center;
    }
    .header nav ul li a {
        font-size: 20px;
    }
    .footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}